FACE_API_URL=https://dify.uabcbattery.com:5000/face/Face0
STT_API_URL=http://10.133.190.16:3030/v1/audio/transcriptions
STT_MODEL=Fun-ASR-Nano-2512
STT_FILE_FIELD=file
STT_API_KEY=
TTS_API_URL=https://dify.uabcbattery.com:5000/tts/Voice2
LLM_API_URL=http://10.133.190.16:3030/v1
LLM_API_KEY=your-key-here
LLM_MODEL=gpt-4o-mini

# Dify Chat API
DIFY_API_URL=https://dify.uabcbattery.com:5000/api
DIFY_API_KEY=your-dify-key-here
